body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #fff;
}

.verified {
    height: 25px;
    width: 25px;
}

.logo {
    height: 30px;
    width: 30px;
}

button {
    padding: 10px 30px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #091116;
    border: transparent;
    border-radius: 8px;
    font-size: 12px;
    color: #fff;
}

button:hover {
    background-color: #fff;
    color: #091116;
}

.followButton {
    padding: 8px 50px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #0073e6;
    border: transparent;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
    transition: 0.1s;
}

.followButton:hover {
    padding: 8px 50px;
    background-color: #0073e6;
    border-radius: 5px;
    font-size: 12px;
    color: white;
    transform: scale(1.06);
}

.unFollowButton {
    padding: 8px 50px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: white;
    border: 1px black solid;
    border-radius: 5px;
    font-size: 12px;
    color: #0a0a0a;
    transition: 0.1s;
}

.unFollowButton:hover {
    padding: 8px 50px;
    background-color: white;
    border: 1px black solid;
    border-radius: 5px;
    font-size: 12px;
    color: #0a0a0a;
    transform: scale(1.06);
}

@media (max-width: 768px) {
    .links {
        padding: 0px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    img {
        max-height: 100%;
        max-width: 100%;
    }

    .ig {
        height: 200px;
        width: 100%;
        border-radius: 8px;
        align-items: center;
    }

    .alig {
        align-items: center;
    }
}


@media (min-width: 768px) {
    img {
        max-height: 300px;
        max-width: 400px;
    }

    .ig {
        height: 120px;
        width: 160px;
        border-radius: 8px;
    }
}

@media (min-width: 1000px) {
    .links {
        padding: 0px;
        margin-top: 10px;
        margin-left: 200px;
        margin-right: 200px;
    }

    img {
        max-height: 100%;
        max-width: 100%;
    }

    .ig {
        height: 120px;
        width: 160px;
        border-radius: 8px;
    }
}

.commentEditor {
    max-width: 400px;
    min-height: 400px;
}

.cardposts {
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #091116;
}

a:hover{
    margin: 1px solid #091116;
}

.postImg {
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.cont {
    align-items: center;
    justify-content: center;
}

.star {
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.star2 {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.footer {
    border: transparent;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
    background-color: #091116;
    color: white;
}

.delete {
    color: red;
    cursor: pointer;
}

.homecard {
    padding: 8px;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
    border: transparent;
}

img {
    border-radius: 10px;
}

.homecard3 {
    padding: 8px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 70px;
    border: transparent;
}

.homecard2 {
    padding: 8px;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.blogmelogo {
    height: 250px;
    width: 250px;
    align-self: center;
}

.button2 {
    padding: 10px 30px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #fff;
    border: transparent;
    border-radius: 8px;
    font-size: 12px;
    color: #091116;
}

.button2:hover{
    background-color: #091116;
    color: #fff;
}

.banner {
    height: 50%;
    border: transparent;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.cardhomefinal {
    padding: 20px 30px;
}

.car {
    margin: 0px;
    padding: 0px;
    border: transparent;
}

.back {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
}

/*Landing page*/

.landingImg {
    transition: 0.5s;
    transform: rotate(12deg);
}

.landingImg:hover {
    transform: scale(1.1);
}

.landingImg2 {
    transition: 0.8s;
}

.landingImg2:hover {
    transform: scale(1.03);
}

.landingImg3 {
    transition: 0.8s;
}

.landingImg3:hover {
    transform: scale(1.1) rotate(18deg);
}

.landingImg4 {
    transition: 0.8s;
}

.landingImg4:hover {
    transform: scale(1.1);
}

.landingButton {
    padding: 10px 30px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #fff;
    border: transparent;
    border-radius: 4px;
    font-size: 14px;
    color: #091116;
    transition: 0.1s;
}

.landingButton:hover {
    background-color: transparent;
    color: #fff;
    transform: scale(1.06);
}

.landingButton2 {
    padding: 10px 30px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: transparent;
    border: 1px #091116 solid;
    border-radius: 4px;
    font-size: 14px;
    color: #091116;
    transition: 0.1s;
}

.landingButton2:hover {
    background-color: #091116;
    color: #fff;
    transform: scale(1.06);
}

.sol {
    border: 1px #0a0a0a solid;
}
